<a href="https://colab.research.google.com/github/BalaTechis1997/Numpy-Project/blob/main/Numpy_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Load the data. Data is already given to you in variable path

import numpy as np
import pandas as pd
data=pd.read_csv("KAG_Conversion_Data.csv")
data

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0      708746              916  ...                 2                   1
1      708749              916  ...                 2                   0
2      708771              916  ...                 1                   0
3      708815              916  ...                 1                   0
4      708818              916  ...                 1                   1
...       ...              ...  ...               ...                 ...
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[1143 rows x 11 columns]

In [ ]:
# How many unique ad campaigns (xyzcampaignid) does this data contain ? And for how many times was each campaign run ?

data.xyz_campaign_id.unique()
data.groupby(['xyz_campaign_id']).count()

                 ad_id  fb_campaign_id  ...  Total_Conversion  Approved_Conversion
xyz_campaign_id                         ...
916                 54              54  ...                54                   54
936                464             464  ...               464                  464
1178               625             625  ...               625                  625

[3 rows x 10 columns]

In [ ]:
#What are the age groups that were targeted through these ad campaigns?
a=data.age.max()
b=data.age.min()
print('Age groups targeted through ad campaigns are',b,a)

Age groups targeted through ad campaigns are 30-34 45-49

In [ ]:
#What was the average, minimum and maximum amount spent on the ads?
c=data.Spent.mean()
d=data.Spent.max()
e=data.Spent.min()
print('Avg time',c)
print('min time',e)
print('max time',d)

Avg time 51.36065613141293
min time 0.0
max time 639.9499981

In [ ]:
#What is the id of the ad having the maximum number of clicks ?
a=data.Clicks.max()
b=data.ad_id[a]
print('ID for maximum no of clicks ',b)

ID for maximum no of clicks  782587

In [ ]:
#How many people bought the product after seeing the ad with most clicks? Is that the maximum number of purchases in this dataset?
a=data.Clicks.max()
c=data.Approved_Conversion.max()
b=data.ad_id[a]
d=data.ad_id[c]
print('No of people who bought after seeing adds with most clicks is', c)
if b==d:
 print('Yes')
else:
 print('No')

No of people who bought after seeing adds with most clicks is 21
No

In [ ]:
#So the ad with the most clicks didn't fetch the maximum number of purchases. Find the details of the product having maximum number of purchases
a=data.Approved_Conversion.max()
b=data.ad_id[a]
print('Maximum purchase',a ,'\n ad id is',b)

Maximum purchase 21
 ad id is 709323